.avatar-container {
  padding: 30px;
  display: flex;
}
.label-container{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.image-container {
  height: 130px;
  width: 130px;
  border-radius: 10px;
  border: 2px rgb(153, 153, 153) solid;
  background-color: #f3f3f3;
  background-position: center;
  background-size: cover;
}
.icon-wrapper {
  color: white;
  height:  40px;
  width: 100%;
  padding: .35rem;
  border-radius: 10px;
  background-color:var(--cictgrey);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 50%;
  z-index: 2;
  cursor: pointer;

  &:hover {
      transition: all .25s;
      background-color: var(--cictteal);
  }

  .icon {
      color: white;
  }

  label {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  input[type='file'] {
      display: none;
  }
}
