<div class="page-title">
  <h1>Extension Program Details</h1>
</div>
<div class="info-container">
  <div class="sub-info">
    <p class="text">Fill out the form with the necessary details and upload the appropriate files for the extension program to be created</p>
  </div>
  <form [formGroup]="displayPartnersForm" enctype="multipart/form-data" (ngSubmit)="submitU()">
    <section class="section-container">
      <h3>Program Banner</h3>
      <app-banner formControlName="banner"></app-banner>
    </section>

    <section class="section-container">
      <h3>Upload File</h3>
      <div class="avatar-container">
        <app-upload-files formControlName="upload_files"></app-upload-files>
      </div>
    </section>

    <section class="section-container">
      <h3>Program Details</h3>
      <div class="form-container">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Title</mat-label>
              <input  matInput
                      formControlName="program_title">
              <mat-error *ngIf="displayPartnersForm.get('program_title')?.hasError('required')">
                Program Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div class="space" *ngIf="displayPartnersForm.get('program_title')?.hasError('required')"></div>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Date Start / End</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date"
                  formControlName="date_time_start" #newProgram>
                  <input matEndDate placeholder="End date"
                  formControlName="date_time_end" #newProgram>
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="displayPartnersForm.get('date_time_start')?.hasError('required')">
                  Starting Date is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="displayPartnersForm.get('date_time_end')?.hasError('required')">
                  Ending Date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Place</mat-label>
              <input  matInput
                      formControlName="place">
              <mat-error *ngIf="displayPartnersForm.get('place')?.hasError('required')">
                Place is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Details</mat-label>
              <input  matInput
                      formControlName="program_details">
              <mat-error *ngIf="displayPartnersForm.get('program_details')?.hasError('required')">
                Program Details is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Partners</mat-label>
              <input  matInput
                      formControlName="partners">
              <mat-error *ngIf="displayPartnersForm.get('partners')?.hasError('required')">
                Program Partners is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div class="space" *ngIf="displayPartnersForm.get('partners')?.hasError('required')"></div>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Lead</mat-label>
              <input  matInput
                      formControlName="program_lead">
              <mat-error *ngIf="displayPartnersForm.get('program_lead')?.hasError('required')">
                Program Lead is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Members</mat-label>
              <input  matInput
                      formControlName="program_members">
              <mat-error *ngIf="displayPartnersForm.get('program_members')?.hasError('required')">
                Program Members is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Participants</mat-label>
              <input  matInput
                      formControlName="participants">
              <mat-error *ngIf="displayPartnersForm.get('participants')?.hasError('required')">
                Participants is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Flow</mat-label>
              <input  matInput
                      formControlName="program_flow">
              <mat-error *ngIf="displayPartnersForm.get('program_flow')?.hasError('required')">
                Program Flow is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Additional Details</mat-label>
              <input  matInput
                      formControlName="additional_details">
              <mat-error *ngIf="displayPartnersForm.get('additional_details')?.hasError('required')">
                Additional Details is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

        </div>
      </div>
    </section>

    <br>
    <div class="d-flex justify-content-end w-100 p-0">
      <button mat-raised-button
              type="submit"
              class="aa-btn"
              [title]="displayPartnersForm.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
              [disabled]="!displayPartnersForm.valid">
        Update
      </button>
    </div>
  </form>

</div>

<footer>
    <p>© Extensions Office Management Sytstem, 2023</p>
</footer>
