<div class="form-title">
  <div class="form-container">
    <h1 class="titles">Log In</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <mat-error class="invalid" [hidden]="!loginForm.valid">
        <strong>Warning: </strong>Invalid username or password
      </mat-error>

      <mat-form-field class="mat-field">
        <mat-label>Username or Email</mat-label>
        <input  matInput
                type="text"
                formControlName="username">
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
          Username or Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label>Password</mat-label>
        <input  matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password">
                <mat-icon matSuffix class="eye-icon" (click)="togglePasswordVisibility()">
                  {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button
              type="submit"
              class="btn"
              [title]="loginForm.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
              [disabled]="!loginForm.valid">
        Login
      </button>

    </form>

    <div class="d-flex justify-content-center w-100 mt-2">
      <p>Forgot Password? <a [routerLink]="['../forgot-password']">Reset Password</a></p>
    </div>

    <div class="d-flex justify-content-center w-100 mt-2">
      <p>Don't have an Account? <a [routerLink]="['../signup']">Create</a></p>
    </div>

  </div>

</div>
