.titles{
  font-family: 'futura light bt', 'Jost', sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-right: 10%;
}
.form-title{
  padding: 1.25rem;
}
.form-container{
  width: 31.25rem;
}
form{
  width: 100%;
  margin-top: 30%;
}
.mat-field {
  width: 70%;
  font-style: 'Avenir Regular', 'Montserrat', sans-serif !important;
  font-size: 0.9rem !important;
  margin: 0rem 0rem 0.313rem 9.5%;
}
.eye-icon{
  margin-right: 10px;
  padding: 0px !important;
}
.btn{
  padding: 1.563rem;
  font-style: 'HelveticaLt', 'Inter', sans-serif !important;
  font-size: 1.2rem;
  background-color: #816E7C   !important;
  width: 70%;
  margin-left: 9.5%;
}
.mat-error{
  font-size: 0.75rem !important;
  color: #D26466 !important;
}
.invalid{
  margin: 0rem 0rem 0.313rem 9.5%;
}
@media (max-width: 992px) or (orientation: portrait) {
  form{
    margin-top: 10%;
  }
}
