.grid-container{
  height: 100%;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
}

.titles{
  font-family: 'futura light bt', 'Jost', sans-serif;
  font-size: 3.7em;
  text-align: center;
}

#logo{
  margin-right: 10rem;
  width: 350px;
  height: 350px;
}

.form-title{
  padding: 20px;
}
.form-container{
  width: 300px;
  padding: 20px;
  margin-left: 10rem;
}
form{
  width: 100%;
}
.mat-field {
  width: 100%;
  font-size: 0.9rem !important;
  margin-bottom: 5px;
}
.btn{
  padding: 25px;
  font-size: 1.2rem;
  background-color: #816E7C   !important;
  width: 100%;
}
mat-error{
  font-size: 12px !important;
}
