<div class="container">
  <div class="form-title">
    <div>
      <a href=""><mat-icon></mat-icon></a>
    </div>
    <h1>Log In</h1>
  </div>
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
 
    <mat-form-field class="mat-field">
      <mat-label>Username or Email</mat-label>
      <input  matInput
              type="email"
              formControlName="email">
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Username or Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-field">
      <mat-label>Password</mat-label>
      <input  matInput
              type="password"
              formControlName="password">
    </mat-form-field>

    <button mat-raised-button
    type="submit"
    class="btn"
    [title]="loginForm.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
    [disabled]="!loginForm.valid">
Login
</button>
</form>

  </div>
</div>