.titles{
  font-family: 'futura light bt', 'Jost', sans-serif;
  font-size: 3.7em;
  text-align: center;
}

.form-title{
  padding: 20px;
}
.form-container{
  width: 500px;
}
form{
  width: 100%;
}
.mat-field {
  width: 70%;
  font-size: 0.9rem !important;
  margin: 0px 0px 5px 4.5rem;
}
.btn{
  padding: 25px;
  font-size: 1.2rem;
  background-color: #816E7C   !important;
  width: 70%;
  margin-left: 4.5rem;
}
mat-error{
  font-size: 12px !important;
  color: #D26466 !important;
}
