/* .mainc-container{
  width: 100%;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
} */
/* .header-container{
  background-color: #FBBB62;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 22.44%;
} */
app-navbar {
  background-color: #FBBB62;
}
