
<div class="title-gradient-container">
    <div class="form-title">
      <p>Extension Programs</p>
    </div>

    <div class="container">
      <button id="create-button" mat-raised-button color="primary"><a [routerLink]="['../programs/create']">Create Extension Program</a></button>
    </div>
  </div>

  <div class="header">
    <p>Current and Upcoming Extension Programs</p>
  </div>

  <div class="programs">
  <mat-card class="program-card" *ngFor="let obj of programs">
    <div class="text-block">
      <p>Start: {{obj.start}}</p>
      <p>End: {{obj.end}}</p>
    </div>
    <img mat-card-image [src]="url" alt="CICT Logo">
    <mat-card-header class="description">
      <mat-card-title>{{obj.title}}</mat-card-title>
      <mat-card-subtitle>{{obj.fare}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button class="details-button"mat-button>See Details</button>
    </mat-card-actions>
    <mat-card-actions class="actions">
      <button class="upload-button"mat-button>Upload Files</button>
    </mat-card-actions>
    <mat-card-actions class="actions">
      <button class="assign-button"mat-button>Assign Members</button>
    </mat-card-actions>
  </mat-card>
  </div>


  <div class="services">
    <p>Our Services</p>
  </div>

  <div class="cards-container">
    <mat-card class="program-card">
      <img mat-card-image src="assets\images\cict.png" alt="CICT Logo">
      <mat-card-header class="description">
        <mat-card-title>Service Title</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button class="book-button"mat-button>Book Now</button>
      </mat-card-actions>
    </mat-card>
  </div>
<footer>
    <p>© Extensions Office Management Sytstem, 2023</p>
</footer>
