.page-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: var(--poppins);
  padding: 30px;
  background-image: linear-gradient(to bottom, #f6ad3d, #f8b44c, #faba5a, #f8ca84, #fae0ba, #faf1e7, #f9f9f9);
  border-radius: 20px 20px 0px 0px;
}
.sub-info{
  padding-left: 30px;
  padding-top: 20px;
}
button.aa-btn{
  height: 40px;
  font-size: 14px;
}
.section-container{
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(48, 48, 48, 0.123);
  border-radius: 10px;
  margin-top: 30px;
}

/* User Contents */
.user-content {
  padding-top: 16px;
}
.user-content > mat-card {
  width: 200px;
  height: 300px;
}
.user-card {
  max-width: 400px;
}
table {
  width: 100%;
}
.manage-btn{
  width: 100%;
  background-color: var(--cictteal);
}
mat-paginator{
  margin-top: 40px;
  background-color: var(--light) !important;
}

/*   accordion    */
.section-container{
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(48, 48, 48, 0.123);
  border-radius: 10px;
  margin-top: 30px;
}
mat-expansion-panel{
  box-shadow: none !important;
}
.main-header{
  height: 200px;
}
.image-container {
  height: 130px;
  width: 130px;
  border-radius: 10px;
  border: 2px rgba(153, 153, 153, 0.267) solid;
  background-color: #f3f3f3;
  background-position: center;
  background-size: cover;
}
.image-container img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.logo-container{
  display: flex;
  justify-content: center;
}
mat-panel-description{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
}

/* Toolbar */
.tb-container{
  height: 60px;
  background: none !important;
  // border-top: 1px solid rgba(160, 160, 160, 0.452);
  // border-bottom: 1px solid rgba(160, 160, 160, 0.452);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 !important;
}
.organizers button mat-icon{
  font-size: 20px;
  text-align: center;
}
/* /Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Search */
.searchbar {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}
.search-field {
  width: 100%;
  height: 60px;
}
.search-icon{
  width: 100%;
  height: 100%;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: white !important;
}
.mat-form-field {
  background-color: yellow;
}
.icon{
  margin-right: 10px;
  padding: 0px !important;
}
footer{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: black;
  margin-top: 100px;
}
/* Toolbar */
.tb-container{
  height: 60px;
  background: none !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.organizers button mat-icon{
  font-size: 20px;
  text-align: center;
}
/* /Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Search */
.searchbar {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.search-field {
  width: 100%;
  height: 60px;
}
.search-icon{
  width: 100%;
  height: 100%;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: white !important;
}
.mat-form-field {
  background-color: yellow;
}
/* /Search */

/* User Contents */
.user-content {
  padding-top: 16px;
}
.user-content > mat-card {
  width: 200px;
}
.user-card {
  max-width: 400px;
}
.user-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
table {
  width: 100%;
}
