<div class="title-gradient-container">
      <div class="form-title">
        <p>Add Extension Partner</p>
      </div>
    </div>

    <div class="partner-form" [style.Display]="dis">
      <form [formGroup]="addPartner" (ngSubmit)="submit()" class="form-container">

        <div class="upload-container">
          <mat-label>Program Banner</mat-label>
          <img [src]="url" height="500"><br>
            <input type="file" placeholder="Upload Program Banner"
                    formControlName="banner" (change)="onselectFile($event)">
            <mat-error *ngIf="addPartner.get('banner')?.hasError('required')">
              Image is <strong>required</strong>
              </mat-error>
          <div class="space" *ngIf="addPartner.get('banner')?.hasError('required')"></div>

          <mat-label>Uploaded Files</mat-label>
          <input type="file" placeholder="Upload Files"
                  formControlName="uploadFiles" (change)="onselectFile($event)">
          <mat-error *ngIf="addPartner.get('uploadFiles')?.hasError('required')">
            File is <strong>required</strong>
            </mat-error>
          <div class="space" *ngIf="addPartner.get('uploadFiles')?.hasError('required')"></div>
        </div>

        <div class="info-container">
          <mat-form-field class="mat-field">
            <mat-label>Program Title</mat-label>
            <input  matInput
                    formControlName="title">
            <mat-error *ngIf="addPartner.get('name')?.hasError('required')">
              Program Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

          <mat-form-field class="mat-field">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date"
              formControlName="start">
              <input matEndDate placeholder="End date"
              formControlName="end">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

          <mat-form-field class="mat-field">
            <mat-label>Place</mat-label>
            <input  matInput
                    formControlName="place">
            <mat-error *ngIf="addPartner.get('name')?.hasError('required')">
              Place is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

          <mat-form-field class="mat-field">
            <mat-label>Program Details</mat-label>
            <input  matInput
                    formControlName="details">
            <mat-error *ngIf="addPartner.get('name')?.hasError('required')">
              Program Details is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

          <mat-form-field class="mat-field">
            <mat-label>Program Lead and Members</mat-label>
            <input  matInput
                    formControlName="leadAndMembers">
            <mat-error *ngIf="addPartner.get('name')?.hasError('required')">
              Program Lead and Members is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

          <mat-form-field class="mat-field">
            <mat-label>Participants</mat-label>
            <input  matInput
                    formControlName="participants">
            <mat-error *ngIf="addPartner.get('name')?.hasError('required')">
              Participants is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

          <button mat-raised-button
                    type="submit"
                    class="btn"
                    [title]="addPartner.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
                    [disabled]="!addPartner.valid">
              <a [routerLink]="['../programs']">Submit</a>
              <!-- Submit -->
          </button>
        </div>
      </form>
    </div>

    <footer>
        <p>© Extensions Office Management Sytstem, 2023</p>
    </footer>
