.titles{
  font-family: 'futura light bt', 'Jost', sans-serif;
  font-size: 3.7em;
  text-align: center;
}

.form-container{
  width: 500px;
  justify-content: center;
  align-items: center;
}
.mat-field {
  width: 70%;
  font-size: 0.9rem !important;
  margin-left: 4.5rem;
}
.form-title{
  padding: 20px;
}
.btn{
  padding: 25px;
  font-size: 1.2rem;
  background-color: #816E7C !important;
  width: 70%;
  margin-left: 4.5rem;
}
mat-error{
  font-size: 12px !important;
  color: #D26466 !important;
}
