.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form{
  width: 100%;
}
.form-container{
  width: 90%;
}
.mat-field {
  width: 100%;
}
.form-title{
  padding: 20px;
}
.btn{
  padding: 25px;
  font-size: 1.2rem;
  background-color: #f2f2a3 !important;
  width: 100%;
}
