<div class="container">
  <form formGroup="registerForm" (ngSubmit)="registerSubmitted()" class="border">
    <div class="row">
      <div class="col text-center p-2 nb-3 bg-light">
        <span class="fs-3">Sign Up</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName">
      </div>
    </div>
    <div class="col">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName">
    </div>

    <div class="row">
      <div class="col nb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email">
        <div class="form-text"></div>
      </div>
    </div>

    <div class="row">
      <div class="col nb-3">
        <label for="idNum" class="form-label">Faculty ID Number</label>
        <input type="number" class="form-control" id="idNum">
        <label for="phone" class="form-label">Phone</label>
        <input type="number" class="form-control" id="phone">
      </div>
    </div>

    <div class="row">
      <div class="col nb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="col nb-3">
        <label for="conPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="conPassword">
      </div>
    </div>

    <div class="row">
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
