<div class="container">
  <div class="form-title">
    <div>
      <a href=""><mat-icon></mat-icon></a>
    </div>
    <h1>Signup</h1>
  </div>
  <div class="form-container">
    <form [formGroup]="signupForm" (ngSubmit)="submit()">
      <mat-form-field class="mat-field">
        <mat-label>First Name</mat-label>
        <input  matInput
                formControlName="firstname">
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label>Last Name</mat-label>
        <input  matInput
                formControlName="lastname">
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label>Faculty ID</mat-label>
        <input  matInput
                formControlName="faculty_id">
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label>Email</mat-label>
        <input  matInput
                type="email"
                formControlName="email">
        <mat-error *ngIf="signupForm.get('email')?.hasError('email') && !signupForm.get('email')?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label>Username</mat-label>
        <input  matInput
                formControlName="username">
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label>Password</mat-label>
        <input  matInput
                type="password"
                formControlName="password">
      </mat-form-field>

      <button mat-raised-button
              type="submit"
              class="btn"
              [title]="signupForm.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
              [disabled]="!signupForm.valid">
        Submit
      </button>
    </form>
    <div class="d-flex justify-content-center w-100 mt-2">
      <p>Already a member? <a [routerLink]="['../login']">Log In</a></p>
    </div>
  </div>
</div>
valid: {{signupForm.valid | json}}
value: {{signupForm.value | json}}
