.container{
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form{
  width: 100%;
}
.form-container{
  width: 500px;
}
.mat-field {
  width: 100%;
  font-size: 0.9rem !important;
  margin-bottom: 5px;
}
.form-title{
  padding: 20px;
}
.btn{
  padding: 25px;
  font-size: 1.2rem;
  background-color: #f2f2a3 !important;
  width: 100%;
}
.mat-error{
  font-size: 12px !important;
}
