/* @font-face {
  font-family: 'futura light bt';
  src: url('./assets/fonts/futura light bt.ttf') format("TrueType");
}
@font-face {
  font-family: 'HelveticaLt';
  src: url('./assets/fonts/HelveticaLt.ttf') format("TrueType");
}
@font-face {
  font-family: 'Avenir Regular';
  src: url('./assets/fonts/Avenir Regular.ttf') format("TrueType");
}
@font-face {
  font-family: 'Avenir Light';
  src: url('./assets/Avenir Light.ttf') format("TrueType");
} */
