<div class="land-container">
  <div class="logo-container">
        <div class="logo-items">
          <h2>BulSU CICT,<br>step right up!</h2>
          <img id="logo" src="../../../assets/images/CICT Extension Management Logo.png">
        </div>
  </div>

  <div class="rectangol-form-container">
    <div class="forms-container">
      <div class="forms-item">
        <router-outlet></router-outlet>

        <!-- <div class="rectangol">
          <div class="stick3"></div>
          <div class="stick4"></div>
        </div> -->
      </div>
    </div>
  </div>
</div>
