<div class="land-container">
  <div class="logo-container">
    <div class="rectangle-container">
      <div class="rectangle1">
        <div class="rectangle2">
          <div class="logo-items">
            <h2 class="quote">BulSU CICT, step <br>right up!</h2>
            <img id="logo" src="../../../assets/images/cict.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="forms-container">
    <div class="forms-item">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
