.land-container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #FBBB62 , #FFFFF6, #FFFFF6, #816E7C);
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms-container{
  width: auto;
  height: auto;
}
