.land-container{
  width: 100%;
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms-container{
  width: auto;
  height: auto;
  background-color: #fafafa;
}
