<nav>
  <div class="nav-container">
    <div class="row">
      <div class="title-container">
        <h1>CICT <br>
          Extension Office Management <br>
          System</h1>
      </div>
    </div>
    <div class="row">
      <div class="nav-item-container">
        <div class="nav-items">
          <div class="nav-item">
            <a [routerLink]="['dashboard']">Home | Dashboard</a>
          </div>
          <div class="nav-item">
            <a [routerLink]="['programs']">Extension Programs</a>
          </div>
          <div class="nav-item">
            <a [routerLink]="['partners']">Partners</a>
          </div>
          <div class="nav-item">
            <a [routerLink]="['reports']">Program Reports</a>
          </div>
          <div class="nav-item">
            <a [routerLink]="['accounts']">Accounts</a>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">User</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item><a [routerLink]="['../main/profile']">Profile</a></button>
                <button mat-menu-item><a [routerLink]="['../landing/login']">Logout</a></button>
              </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
