<nav>
  <div class="nav-container">
    <div class="row">
      <div class="title-container">
        <h1>CICT <br>
          Extension Office Management <br>
          System</h1>
      </div>
    </div>
    <div class="row">
      <div class="nav-item-container">
        <div class="nav-items">
          <div class="nav-item">
            <a href="">Home | Dashboard</a>
          </div>
          <div class="nav-item">
            <a href="">Extension Programs</a>
          </div>
          <div class="nav-item">
            <a href="">Partners</a>
          </div>
          <div class="nav-item">
            <a href="">Accounts</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
