<nav>
  <div class="nav-container">
    <div class="row">
      <div class="title-container">
        <h1>CICT <br>
          Extension Office Management <br>
          System</h1>
      </div>
    </div>
    <div class="row">
      <div class="nav-item-container">
        <div class="nav-items">
          <div class="nav-item">
            <a [routerLink]="['main/dashboard']">Home | Dashboard</a>
          </div>
          <div class="nav-item">
            <a href="">Extension Programs</a>
          </div>
          <div class="nav-item">
            <a href="">Partners</a>
          </div>
          <div class="nav-item">
            <a href="">Accounts</a>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">User</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Account</button>
                <button mat-menu-item>Logout</button>
              </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
