<div class="form-title">
    <div class="form-container">
      <h1 class="titles">Forgot Password</h1>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <mat-form-field class="mat-field">
          <mat-label>Email</mat-label>
          <input  matInput
                  type="email"
                  formControlName="email">
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email') && !forgotPasswordForm.get('email')?.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button
                type="submit"
                class="btn"
                [title]="forgotPasswordForm.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
                [disabled]="!forgotPasswordForm.valid">
          Reset Password
        </button>
      </form>
  
      <div class="d-flex justify-content-center w-100 mt-2">
        <p>Go back to <a [routerLink]="['../login']">Log In</a></p>
      </div>
  
    </div>
  </div>
  