h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}


.table {
    table-layout: fixed;
    width: 120px;
    border: 1px solid red;
    color: aquamarine;
  }
  
  td {
    border: 1px solid blue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


  @media screen and (min-width: 600px) {
    .main {
      width: 70%;
    }
  }
  
  label {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    padding-bottom: 1rem;
  }
  
  .lg-text-input {
    width: 100%;
    padding: 1rem;
    border: 2px solid #000;
    display: block;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  .btn-wrapper {
    margin-bottom: 2rem;
  }
  
  .btn-menu {
    flex-basis: 32%;
  }
  
  .active {
    color: green;
  }
  
  ul {
    padding-inline-start: 0;
  }
  
  ul li {
    list-style: none;
  }
  