<main>

  <div class="form-title">
    <p>Dashboard</p>
  </div>

  <div class="container">
    <img mat-card-image src="assets\images\sample.png" alt="sample image">
  <mat-card class="program-card">
      <mat-card-header class="description">
        <mat-card-title>Service Title</mat-card-title>
        <mat-card-subtitle>Mon, Fri</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="actions">
        <button class="book-button"mat-button>Book Now</button>
      </mat-card-actions>
    </mat-card>
  </div>


  
</main>
