.form-title{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 218px;
  padding: 50px 0 30px 0;
  background-image: linear-gradient(to bottom, #f6ad3d, #f8b44c, #faba5a, #f8ca84, #fae0ba, #faf1e7, #ffffff);
}

.container{
  height: 80px;
  background: none !important;
  border-top: 1px solid rgba(160, 160, 160, 0.452);
  border-bottom: 1px solid rgba(160, 160, 160, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{ 
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.dropdown{
  margin-left: 10%;
  margin-top: 40px;
}

.search{
  margin-left: 75%;
  margin-top: -5%;
}

.searchbar{
  margin-left: 75%;
}

.app-sidenav-container {
  flex: 1;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  background: none !important;
}

.card-container{
  background: none !important;
  border-top: 1px solid rgba(160, 160, 160, 0.452);
  border-bottom: 1px solid rgba(160, 160, 160, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  border: 2px solid rgba(160, 160, 160, 0.452);
  background-color: whitesmoke;
}

.photo{
  height: 250px;
  width: 250px;
}

.name-title{
  height: 50px;
  width: 250px;
  background-color: #f6ad3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.footer{ 
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.logo-container{
  margin-left: 25px;
  margin-right: 25px;

}

.logo{
  height: 75px;
  width: 75px;
}