.page-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: var(--poppins);
  padding: 30px;
  background-image: linear-gradient(to bottom, #f6ad3d, #f8b44c, #faba5a, #f8ca84, #fae0ba, #faf1e7, #f9f9f9);
  border-radius: 20px 20px 0px 0px;
}

button.aa-btn{
  height: 40px;
  font-size: 14px;
}

.header{
  margin-top: 30px;
  font-size: 15px;
  margin-left: 5%;
}

.actions{
  justify-content: center;
}

.details-button{
  width: 150px;
  height: 20px;
  font-size: 12px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

/* Toolbar */
.tb-container{
  height: 60px;
  background: none !important;
  border-top: 1px solid rgba(160, 160, 160, 0.452);
  border-bottom: 1px solid rgba(160, 160, 160, 0.452);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.organizers button mat-icon{
  font-size: 20px;
  text-align: center;
}
/* /Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Search */
.searchbar {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.search-field {
  width: 100%;
  height: 60px;
}
.search-icon{
  width: 100%;
  height: 100%;
}
/* /Search */

.card-container{
  background: none !important;
  border-top: 1px solid rgba(160, 160, 160, 0.452);
  border-bottom: 1px solid rgba(160, 160, 160, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  border: 2px solid rgba(160, 160, 160, 0.452);
  background-color: whitesmoke;
}

.photo{
  height: 250px;
  width: 250px;
}

.name-title{
  height: 50px;
  width: 250px;
  background-color: #f6ad3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.logo-container{
  margin-left: 25px;
  margin-right: 25px;

}

.logo{
  height: 75px;
  width: 75px;
}

.subhead{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: black;
  margin-top: 100px;
}

footer{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: black;
  margin-top: 100px;
}