<main>

  <div class="form-title">
    <p>Manage Partners</p>
  </div>

  <div class="container">
    <button mat-raised-button color="primary">Add Extension Partners +</button>
  </div>

  <div class="header">
    <p>Partners</p>
  </div>

  <div class="dropdown">
    <button mat-button [matMenuTriggerFor]="menu">Filter<span class="material-icons">arrow_drop_down</span></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>New Partners</button>
        <button mat-menu-item>By Date</button>
      </mat-menu>
    </div>

  <p class="search">Search</p>
  <form class="searchbar">
    <mat-form-field class="searchfield">
      <mat-label>Extension Program Titles</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input type="text" matInput placeholder="Ex: Accenture ATA">
    </mat-form-field>
  </form>

  <form [formGroup]="addPartner" (ngSubmit)="submit()" class="form-container">
    <mat-form-field class="mat-field">
      <mat-label>Name</mat-label>
      <input  matInput
              formControlName="name">
      <mat-error *ngIf="addPartner.get('name')?.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

    <mat-form-field class="mat-field">
      <mat-label>Position</mat-label>
      <input  matInput
              formControlName="position">
      <mat-error *ngIf="addPartner.get('name')?.hasError('required')">
        Position is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

    <button mat-raised-button
              type="submit"
              class="btn"
              [title]="addPartner.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
              [disabled]="!addPartner.valid">
        Submit
      </button>
  </form>

  <mat-card class="program-card">
    <img mat-card-image src="assets\images\cict.png" alt="CICT Logo">
    <mat-card-header>
      <mat-card-title class="name">Juan Dela Cruz</mat-card-title>
      <mat-card-subtitle class="position">Founder & CEO</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <div class="header">
    <p>Our Clients</p>
  </div>
</main>
