<div class="page-title">
  <h1>Program Details</h1>
</div>
<div class="d-flex justify-content-end w-100 p-0">
  <button mat-raised-button
          type="submit"
          class="aa-btn"
          [title]="addProgram.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
          (click)="edit()"
          >
    Edit
  </button>
</div>
<div class="info-container">
  <div class="sub-info">
    <p class="text">Fill out the necessary details and files appropriate for the extension program.</p>
  </div>
  <form [formGroup]="addProgram" (ngSubmit)="submit()">
    <section class="section-container">
      <h3>Program Banner</h3>
      <app-banner formControlName="banner"></app-banner>
      <!-- {{ addProgram.value.upload_files | json }} -->
    </section>

    <section class="section-container">
      <h3>Upload File</h3>
      <div class="avatar-container">
        <div class="label-container">
          <p>Upload MOA or other appropriate and necessary files.</p>
            <label class="form-label text-white m-2" for="customFile2">
              <i class='bx bxs-file-png'></i>
              Upload Files
              </label>
              <div class="input-group">
                <input type="file"
                        class="form-control"
                        id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04"
                        aria-label="Upload"
                        placeholder="Upload Files"
                        formControlName="upload_files"
                        (change)="onselectFile($event)"
                        #newProgram>
              </div>
              <mat-error *ngIf="addProgram.get('upload_files')?.hasError('required')">
                Program Title is <strong>required</strong>
              </mat-error>
              <div class="space" *ngIf="addProgram.get('upload_files')?.hasError('required')"></div>
        </div>
      </div>
    </section>

    <section class="section-container">
      <h3>Program Details</h3>
      <div class="form-container">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Title</mat-label>
              <input  matInput
                      formControlName="program_title">
              <mat-error *ngIf="addProgram.get('program_title')?.hasError('required')">
                Program Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div class="space" *ngIf="addProgram.get('program_title')?.hasError('required')"></div>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Date Start / End</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date"
                  formControlName="date_and_time_start" #newProgram>
                  <input matEndDate placeholder="End date"
                  formControlName="date_and_time_end" #newProgram>
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="addProgram.get('date_and_time_start')?.hasError('required')">
                Starting Date is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="addProgram.get('date_and_time_end')?.hasError('required')">
                Ending Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Place</mat-label>
              <input  matInput
                      formControlName="place">
              <mat-error *ngIf="addProgram.get('place')?.hasError('required')">
                Place is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Details</mat-label>
              <input  matInput
                      formControlName="program_details">
              <mat-error *ngIf="addProgram.get('program_details')?.hasError('required')">
                Program Details is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Lead</mat-label>
              <input  matInput
                      formControlName="program_lead">
              <mat-error *ngIf="addProgram.get('program_lead')?.hasError('required')">
                Program Lead is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Members</mat-label>
              <input  matInput
                      formControlName="program_members">
              <mat-error *ngIf="addProgram.get('program_members')?.hasError('required')">
                Program Members is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Participants</mat-label>
              <input  matInput
                      formControlName="participants">
              <mat-error *ngIf="addProgram.get('participants')?.hasError('required')">
                Participants is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Program Flow</mat-label>
              <input  matInput
                      formControlName="program_flow">
              <mat-error *ngIf="addProgram.get('program_flow')?.hasError('required')">
                Program Flow is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="75%">
            <mat-form-field class="mat-field">
              <mat-label>Additional Details</mat-label>
              <input  matInput
                      formControlName="additional_details">
              <mat-error *ngIf="addProgram.get('additional_details')?.hasError('required')">
                Additional Details is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-end w-100 p-0">
            <button mat-raised-button
                    type="submit"
                    class="aa-btn"
                    [title]="addProgram.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
                    [disabled]="!addProgram.valid"
                    (click)="submit()">
              Update Details
            </button>
          </div>
        </div>
      </div>
    </section>

  </form>
</div>

<footer>
    <p>© Extensions Office Management Sytstem, 2023</p>
</footer>
