<div class="page-title">
  <div class="form-title">
    <h1>Create a Program</h1>
  </div>
  <button mat-raised-button
                type="submit"
                class="aa-btn"
                [title]="addProgram.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
                [disabled]="!addProgram.valid"
                (click)="submit()">
                <!-- <a [routerLink]="['main/programs']"></a> -->
    Submit
  </button>
</div>

<div class="container" [style.Display]="dis">
  <form [formGroup]="addProgram" (ngSubmit)="submit()" class="form-container" #newProgram>

    <!-- <mat-form-field class="mat-field">
      <mat-label>Start</mat-label>
      <input matInput [matDatepicker]="picker"
      formControlName="start">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="addPartner.get('logo')?.hasError('required')">
        Start Date is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

    <mat-form-field class="mat-field">
      <mat-label>End</mat-label>
      <input matInput [matDatepicker]="picker"
      formControlName="end">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="addPartner.get('logo')?.hasError('required')">
        End Date <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div> -->

    <div class="upload-container">
      <br><img [src]="url" height="500"><br>
      <!-- <mat-label>Program Banner</mat-label> -->
        <!-- <input type="file" placeholder="Upload Program Banner"
                formControlName="banner" (change)="onselectFile($event)" #newProgram> -->
        <div>
          <div class="d-flex justify-content-center">
              <div class="btn btn-rounded">
                  <label class="form-label text-white m-2" for="customFile2">
                    <i class='bx bxs-file-png'></i>
                    Upload Banner
                    </label>
                  <input type="file"
                          class="form-control d-none"
                          id="customFile2"
                          placeholder="Upload Program Banner"
                          formControlName="banner"
                          (change)="onselectFile($event)"
                          #newProgram/>
              </div>
          </div>
        </div>
        <mat-error *ngIf="addProgram.get('banner')?.hasError('required')">
          Banner is <strong>required</strong>
          </mat-error>
      <div class="space" *ngIf="addProgram.get('banner')?.hasError('required')"></div>
      <br>
      <!-- <i class='bx bxs-file-find' ></i> -->
      <!-- <mat-label>Uploaded Files</mat-label> -->
      <!-- <input type="file" placeholder="Upload Files"
              formControlName="upload_files" (change)="onselectFile($event)" #newProgram> -->
        <div>
          <div class="d-flex justify-content-center">
              <div class="btn btn-rounded">
                  <label class="form-label text-white m-2" for="customFile2">
                    <i class='bx bxs-file-png'></i>
                    Upload Files
                    </label>
                    <div class="input-group">
                      <input type="file"
                              class="form-control"
                              id="inputGroupFile04"
                              aria-describedby="inputGroupFileAddon04"
                              aria-label="Upload"
                              placeholder="Upload Files"
                              formControlName="upload_files"
                              (change)="onselectFile($event)"
                              #newProgram>
                    </div>
              </div>
          </div>
        </div>
      <mat-error *ngIf="addProgram.get('upload_files')?.hasError('required')">
        File is <strong>required</strong>
        </mat-error>
      <div class="space" *ngIf="addProgram.get('upload_files')?.hasError('required')"></div>
    </div>

    <div class="info-container">
      <mat-form-field class="mat-field">
        <mat-label>Program Title</mat-label>
        <input  matInput
                formControlName="program_title" #newProgram>
        <mat-error *ngIf="addProgram.get('program_title')?.hasError('required')">
          Program Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addProgram.get('program_title')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date"
          formControlName="date_and_time_start" #newProgram>
          <input matEndDate placeholder="End date"
          formControlName="date_and_time_end" #newProgram>
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <div class="space" *ngIf="addProgram.get('date_and_time_start')?.hasError('required')"></div>
      <div class="space" *ngIf="addProgram.get('date_and_time_end')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Place</mat-label>
        <input  matInput
                formControlName="place" #newProgram>
        <mat-error *ngIf="addProgram.get('place')?.hasError('required')">
          Place is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addProgram.get('place')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Program Details</mat-label>
        <input  matInput
                formControlName="program_details" #newProgram>
        <mat-error *ngIf="addProgram.get('program_details')?.hasError('required')">
          Program Details is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addProgram.get('program_details')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Program Lead</mat-label>
        <input  matInput
                formControlName="program_lead" #newProgram>
        <mat-error *ngIf="addProgram.get('program_lead')?.hasError('required')">
          Program Lead is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addProgram.get('program_lead')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Program Members</mat-label>
        <input  matInput
                formControlName="program_members" #newProgram>
        <mat-error *ngIf="addProgram.get('program_members')?.hasError('required')">
          Program Members is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addProgram.get('program_members')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Participants</mat-label>
        <input  matInput
                formControlName="participants" #newProgram>
        <mat-error *ngIf="addProgram.get('participants')?.hasError('required')">
          Participants is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addProgram.get('participants')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Program Flow</mat-label>
        <input  matInput
                formControlName="program_flow" #newProgram>
        <mat-error *ngIf="addProgram.get('program_flow')?.hasError('required')">
          Program Flow is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addProgram.get('program_flow')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Additional Details</mat-label>
        <input  matInput
                formControlName="additional_details" #newProgram>
        <mat-error *ngIf="addProgram.get('additional_details')?.hasError('required')">
          Additional Details is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addProgram.get('additional_details')?.hasError('required')"></div>

    </div>
  </form>

  <!-- <div class="programs">
    <ul>
      <li *ngFor="let item of programs"> {{ item }} </li>
    </ul>
    <mat-card class="program-card" *ngFor="let obj of programs">
      <div class="text-block">
        <p>Start: {{obj.start}}</p>
        <p>End: {{obj.end}}</p>
      </div>
      <img mat-card-image [src]="url" alt="CICT Logo">
      <mat-card-header class="description">
        <mat-card-title>{{obj.title}}</mat-card-title>
        <mat-card-subtitle>{{obj.fare}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button class="details-button"mat-button>See Details</button>
      </mat-card-actions>
      <mat-card-actions class="actions">
        <button class="upload-button"mat-button>Upload Files</button>
      </mat-card-actions>
      <mat-card-actions class="actions">
        <button class="assign-button"mat-button>Assign Members</button>
      </mat-card-actions>
    </mat-card>
  </div>-->
</div>

<footer>
    <p>© Extensions Office Management Sytstem, 2023</p>
</footer>

