<main>

  <div class="form-title">
    <p>Extension Programs</p>
  </div>

  <div class="container">
    <button mat-raised-button color="primary"><a [routerLink]="['../create']">Create Extension Program</a></button>
  </div>

  <div class="header">
    <p>Current and Upcoming Extension Programs</p>
  </div>

  <div class="partner-form" [style.Display]="dis">
    <form [formGroup]="addPartner" (ngSubmit)="submit()" class="form-container">

      <mat-form-field class="mat-field">
        <mat-label>Start</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="addPartner.get('logo')?.hasError('required')">
          Image is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>End</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="addPartner.get('logo')?.hasError('required')">
          Image is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

      <mat-label>Logo</mat-label>
      <img [src]="url" height="200"><br>
        <input  type="file"
                formControlName="logo" (change)="onselectFile($event)">
        <mat-error *ngIf="addPartner.get('logo')?.hasError('required')">
          Image is <strong>required</strong>
          </mat-error>
      <div class="space" *ngIf="addPartner.get('logo')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Program Title</mat-label>
        <input  matInput
                formControlName="name">
        <mat-error *ngIf="addPartner.get('name')?.hasError('required')">
          Program Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

      <mat-form-field class="mat-field">
        <mat-label>Fare</mat-label>
        <input  matInput
                formControlName="position">
        <mat-error *ngIf="addPartner.get('name')?.hasError('required')">
          Fare is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="space" *ngIf="addPartner.get('name')?.hasError('required')"></div>

      <button mat-raised-button
                type="submit"
                class="btn"
                [title]="addPartner.valid ? 'Save your Entered Data' : 'Disabled until your data is Valid'"
                [disabled]="!addPartner.valid">
          Submit
        </button>
    </form>
  </div>

  <div class="cards-container">
  <mat-card class="program-card">
    <div class="text-block">
      <p>Date and Time (Start/End)</p>
    </div>
    <img mat-card-image src="assets\images\cict.png" alt="CICT Logo">
    <mat-card-header class="description">
      <mat-card-title>Program Title</mat-card-title>
      <mat-card-subtitle>₱50.00</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button class="details-button"mat-button>See Details</button>
    </mat-card-actions>
    <mat-card-actions class="actions">
      <button class="upload-button"mat-button>Upload Files</button>
    </mat-card-actions>
    <mat-card-actions class="actions">
      <button class="assign-button"mat-button>Assign Members</button>
    </mat-card-actions>
  </mat-card>
  </div>

  <div class="services">
    <p>Our Services</p>
  </div>

  <div class="cards-container">
    <mat-card class="program-card">
      <img mat-card-image src="assets\images\cict.png" alt="CICT Logo">
      <mat-card-header class="description">
        <mat-card-title>Service Title</mat-card-title>
        <mat-card-subtitle>₱50.00</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button class="book-button"mat-button>Book Now</button>
      </mat-card-actions>
    </mat-card>
  </div>

<footer>
    <p>© Extensions Office Management Sytstem, 2023</p>
</footer>

</main>
